*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#FFFFFF ;
    padding-top: 24px;
}
nav{
    width: 1353px;
    max-width: 1353px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav img{
    width: 139px;
    height: 60px;
}
nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
}
nav button{
    width: 164px ;
    height: 44px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
}