*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#FFFFFF ;
    padding-top: 24px;
}
nav{
    width: 1353px;
    max-width: 1353px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav img{
    width: 139px;
    height: 60px;
}
nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
}
nav button{
    width: 164px ;
    height: 44px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
}
.banner{
  width: 1600px;
  height: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-image: url(./assets/hero-bg.png);
}

.banner-content{
  max-width: 900px;
  color: white;
}
.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  color: #16a34a;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

.badge .dot {
  width: 8px;
  height: 8px;
  background-color: #16a34a;
  border-radius: 50%;
}

.banner-content h1 {
  font-size: 56px;
  font-weight: 770px;
  margin-bottom: 20px;
}

.banner-content h1 span {
  color: #16a34a;
}
.hero-content p {
  font-size: 18px;
  line-height: 24px;
  color: #cbd5e1;
  margin-bottom: 32px;
}
.banner-buttons{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.banner-button{
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 16px;
}
.btn-primary {
  background-color: #22c55e;
  color: white;
  border: none;
  width: 252px;
  height: 52px;
}

.btn-primary:hover {
  background-color: #16a34a;
}
.btn-outline {
  background: transparent;
  color: white;
  border: 2px solid rgba(255,255,255,0.6);
  width: 252px;
  height: 52px;
}

.btn-outline:hover {
  background-color: rgba(255,255,255,0.1);
}
